---
import Card from "../components/Card.astro";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mountain registries">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 1110 400"
		class="m-0 p-0 w-96 absolute -z-10 fill-transparent lg:w-auto lg:top-10 lg:left-0"
	>
		<g>
			<path
				class="ekg animate-ekg opacity-70 stroke-2"
				d="M 2.3411316 207.33756 C 2.3411316 207.33756 11.974352 178.34702 11.974352 178.34702 C 11.974352 178.34702 14.725202 225.28625 14.725202 225.28625 C 14.725202 225.28625 21.600581 194.91154 21.600581 194.91154 C 21.600581 194.91154 24.358422 217.00224 24.358422 217.00224 C 24.358422 217.00224 42.240699 134.172624 42.240699 134.172624 C 42.240699 134.172624 47.74939 280.5025 47.74939 280.5025 C 47.74939 280.5025 56.005438 189.39237 56.005438 189.39237 C 56.005438 189.39237 60.13346 217.00224 60.13346 217.00224 C 60.13346 217.00224 69.76668 165.921005 69.76668 165.921005 C 69.76668 165.921005 76.645555 237.70527 76.645555 237.70527 C 76.645555 237.70527 86.278775 189.39237 86.278775 189.39237 C 86.278775 189.39237 93.15765 217.00224 93.15765 217.00224 C 93.15765 217.00224 111.046917 67.91103 111.046917 67.91103 C 111.046917 67.91103 120.673146 323.28923 120.673146 323.28923 C 120.673146 323.28923 133.05722 192.1537 133.05722 192.1537 C 133.05722 192.1537 138.56591 217.00224 138.56591 217.00224 C 138.56591 217.00224 142.69393 194.91154 142.69393 194.91154 C 142.69393 194.91154 152.32715 221.14424 152.32715 221.14424 C 152.32715 221.14424 163.33405 150.74414 163.33405 150.74414 C 163.33405 150.74414 170.20943 248.75062 170.20943 248.75062 C 170.20943 248.75062 175.71812 189.39237 175.71812 189.39237 C 175.71812 189.39237 179.84614 217.00224 179.84614 217.00224 C 179.84614 217.00224 189.47936 181.11185 189.47936 181.11185 C 189.47936 181.11185 194.97757 237.70527 194.97757 237.70527 C 194.97757 237.70527 211.48966 132.79545 211.48966 132.79545 C 211.48966 132.79545 222.50355 274.98332 222.50355 274.98332 C 222.50355 274.98332 234.88762 185.25036 234.88762 185.25036 C 234.88762 185.25036 240.38583 219.76008 240.38583 219.76008 C 240.38583 219.76008 250.02254 186.63103 250.02254 186.63103 C 250.02254 186.63103 258.27859 234.94394 258.27859 234.94394 C 258.27859 234.94394 259.65576 182.48902 259.65576 182.48902 C 259.65576 182.48902 272.03983 262.5573 272.03983 262.5573 C 272.03983 262.5573 288.55193 147.97931 288.55193 147.97931 C 288.55193 147.97931 299.55883 239.08944 299.55883 239.08944 C 299.55883 239.08944 307.81487 182.48902 307.81487 182.48902 C 307.81487 182.48902 313.32007 218.3829 313.32007 218.3829 C 313.32007 218.3829 324.32697 182.49252 324.32697 182.49252 C 324.32697 182.49252 333.96019 233.57026 333.96019 233.57026 C 333.96019 233.57026 355.97049 76.19504 355.97049 76.19504 C 355.97049 76.19504 368.35456 328.8189 368.35456 328.8189 C 368.35456 328.8189 391.04995 198.36846 391.04995 198.36846 C 391.04995 198.36846 400.41053 168.64389 400.41053 168.64389 C 400.41053 168.64389 405.09082 135.770005 405.09082 135.770005 C 405.09082 135.770005 433.17257 105.25199 433.17257 105.25199 C 433.17257 105.25199 437.85635 73.55604 437.85635 73.55604 C 437.85635 73.55604 448.38439 85.296965 448.38439 85.296965 C 448.38439 85.296965 465.9381 79.42825 465.9381 79.42825 C 465.9381 79.42825 468.28 55.946403 468.28 55.946403 C 468.28 55.946403 479.97897 73.55604 479.97897 73.55604 C 479.97897 73.55604 487.00115 140.47127 487.00115 140.47127 C 487.00115 140.47127 506.89326 62.993055 506.89326 62.993055 C 506.89326 62.993055 538.48785 44.208975 538.48785 44.208975 C 538.48785 44.208975 556.52742 11.3385826 556.52742 11.3385826 C 556.52742 11.3385826 571.2499 16.03635 571.2499 16.03635 C 571.2499 16.03635 568.9115 30.122663 568.9115 30.122663 C 568.9115 30.122663 582.95236 37.162323 582.95236 37.162323 C 582.95236 37.162323 599.33513 70.03621 599.33513 70.03621 C 599.33513 70.03621 612.20505 156.90297 612.20505 156.90297 C 612.20505 156.90297 625.07847 105.25199 625.07847 105.25199 C 625.07847 105.25199 653.1602 46.55786 653.1602 46.55786 C 653.1602 46.55786 678.90357 46.55786 678.90357 46.55786 C 678.90357 46.55786 678.90357 73.55604 678.90357 73.55604 C 678.90357 73.55604 711.6726 121.68719 711.6726 121.68719 C 711.6726 121.68719 744.43463 138.122384 744.43463 138.122384 C 744.43463 138.122384 781.88045 170.08049 781.88045 170.08049 C 781.88045 170.08049 793.57943 186.62054 793.57943 186.62054 C 793.57943 186.62054 810.0531 190.77653 810.0531 190.77653 C 810.0531 190.77653 829.3265 230.80543 829.3265 230.80543 C 829.3265 230.80543 860.97003 141.07946 860.97003 141.07946 C 860.97003 141.07946 870.60325 250.13478 870.60325 250.13478 C 870.60325 250.13478 880.2295 189.39237 880.2295 189.39237 C 880.2295 189.39237 889.8662 221.14424 889.8662 221.14424 C 889.8662 221.14424 899.4994 194.91504 899.4994 194.91504 C 899.4994 194.91504 914.63433 265.31864 914.63433 265.31864 C 914.63433 265.31864 922.8904 188.01519 922.8904 188.01519 C 922.8904 188.01519 935.27445 218.3829 935.27445 218.3829 C 935.27445 218.3829 958.6654 80.34054 958.6654 80.34054 C 958.6654 80.34054 984.81073 310.8737 984.81073 310.8737 C 984.81073 310.8737 1001.3228 168.68234 1001.3228 168.68234 C 1001.3228 168.68234 1016.45425 230.80543 1016.45425 230.80543 C 1016.45425 230.80543 1031.59617 188.01519 1031.59617 188.01519 C 1031.59617 188.01519 1035.7277 222.52491 1035.7277 222.52491 C 1035.7277 222.52491 1048.10826 186.63453 1048.10826 186.63453 C 1057.7345 203.19555 1057.7345 207.34105 1057.7345 207.34105 C 1057.7345 211.48306 1061.8625 226.65993 1061.8625 226.65993 C 1061.8625 226.65993 1065.994 178.35401 1065.994 178.35401 C 1065.994 178.35401 1077.0044 232.1861 1077.0044 232.1861 C 1077.0044 232.1861 1089.3885 114.85026 1089.3885 114.85026 C 1089.3885 114.85026 1092.13585 303.97036 1092.13585 303.97036 C 1092.13585 303.97036 1104.5234 188.01519 1104.5234 188.01519 C 1104.5234 188.01519 1110.7172 208.02964 1110.7172 208.02964"
			>
			</path>
		</g>
	</svg>

	<header class="text-center mt-5 lg:mt-20 animate-fade-in">
		<h1
			class="text-[28px] font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-red-400 to-sky-700 lg:text-8xl lg:h-[120px]"
		>
			Mountain registries
		</h1>
		<p
			class="text-neutral-800 p-4 text-sm lg:text-xl 2xl:w-[1280px] 2xl:mx-auto"
		>
			The aim of the <b>mountain registries</b> is to collect and report information
			in a standard way and form. The collected data will enable an international
			comparison between the different strategies applied during the rescue
			patients in mountain terrains.
		</p>
	</header>

	<main
		class="mt-5 mb-10 text-sm lg:flex lg:mt-10 2xl:w-[1536px] 2xl:mx-auto animate-fade-in"
	>
		<Card
			title="Alpine Traum"
			color="itar"
			subtitle="International Alpine Trauma Registry (IATR)"
			openLink="https://redcap.eurac.edu/index.php?action=myprojects"
			demoLink="https://mountain-registries-demo.azurewebsites.net/index.php?action=myprojects"
		>
			<p>
				The primary aim of Eurac&apos;s International Alpine Trauma
				Registry research project is to record all applied strategies
				for the first aid of traumatised patients in mountain areas. It
				aims to collect and report information in a standard form on
				major alpine trauma. It includes patient pre-hospital,
				in-hospital and outcome information. The collected data will
				enable an international comparison between the different
				strategies applied during the rescue of traumatised patients in
				high altitudes and remote areas. Furthermore, these data could
				help to scientifically define specific problems of pre-hospital
				treatment of traumatised patients in remote areas. The second
				aim of the study is to record the effects of pre-hospital and
				hospital treatment strategies and parameters on the survival and
				the outcome of the patients. For that purpose the registry was
				based on the guidelines of the Utstein-Style Protocol.
			</p>
			<h6 class="mt-4 uppercase text-sm text-black font-bold">
				Additional info
			</h6>
			<ul class="text-xs list-disc ml-4 leading-6 text-black">
				<li>
					<Link href="/dl/iatr/IATR CRF EN.pdf">IATR CRF EN.pdf</Link>
				</li>
				<li>
					<Link href="/dl/iatr/IATR informed consent EN.pdf"
						>IATR informed consent EN.pdf
					</Link>
				</li>
				<li>
					<Link href="/dl/iatr/IATR Study design EN.pdf"
						>IATR Study design EN.pdf
					</Link>
				</li>
			</ul>
		</Card>

		<Card
			title="Avalanche"
			subtitle="International Avalanche Registry (IAVAR)"
			color="iavar"
			openLink="https://redcap.eurac.edu/index.php?action=myprojects"
			demoLink="https://mountain-registries-demo.azurewebsites.net/index.php?action=myprojects"
		>
			<p>
				The aim is to determine and compare the key characteristics of
				prehospital care and patterns of injury in avalanche accidents
				with persons involved. Its goal is to determine the impact of
				rescue strategies and treatment recommendations on patient
				outcomes.The International Avalanche Registry was developed by
				Eurac in close collaboration with the International Commission
				of Alpine Rescue ICAR, South Tyrol's mountain rescue
				organisation and the Avalanche Warning Service in Bolzano. The
				IAVAR comprises three different chapters: The first chapter
				covers medical information about incident site, accepting first
				and maybe second or even third hospitals and about patient
				outcome. The second chapter contains details of the situation
				on-site, the situation of the patient(s) rescue details and
				preventive measure of the victim(s). The third chapter gives
				additional geographical details and information about the
				characteristics of the avalanche itself.
			</p>
			<h6 class="mt-4 uppercase text-sm text-black font-bold">
				Additional info
			</h6>
			<ul class="text-xs list-disc ml-4 leading-6 text-black">
				<li>
					IAVAR Study protocol:
					<Link href="/dl/iavar/IAVAR Study protocol EN.pdf"
						>EN.pdf
					</Link> &nbsp;
					<Link href="/dl/iavar/IAVAR Study protocol DE.pdf"
						>DE.pdf
					</Link>
				</li>
				<li>
					<Link href="/dl/iavar/IAVAR CRF EN.pdf"
						>IAVAR CRF EN.pdf
					</Link>
				</li>
				<li>
					<Link href="/dl/iavar/IAVAR EC Study protocol DE.pdf"
						>IAVAR EC Study protocol DE.pdf
					</Link>
				</li>
				<li>
					IAVAR Informed Consent:
					<Link href="/dl/iavar/IAVAR Informed Consent DE.pdf"
						>DE.pdf
					</Link> &nbsp;
					<Link href="/dl/iavar/IAVAR Informed Consent IT.pdf"
						>IT.pdf
					</Link>
				</li>
			</ul>
		</Card>

		<Card
			title="Accidental Hypothermia"
			subtitle="International Hypothermia Registry (IHR)"
			color="ihr"
			openLink=""
		>
			<p>
				It is the first and only world wide database on human accidental
				hypothermia. This internet based registry was created by the
				hypothermia working group with the University Hospital of Geneva
				/ Switzerland which hosts the data on its secure server. The
				IHR&apos;s principle goal is to increase knowledge on accidental
				hypothermia by gathering sufficient relevant data through
				international networking, creating the largest data base on deep
				accidental hypothermia. The registry will enable comparison of
				treating and rewarming methods, study survival predictor factors
				and prevention of post rewarming complications. This will help
				select the most efficient ways to treat these patients and
				permit the establishment of evidence based diagnosis and
				treatment guidelines.
			</p>
			<h6 class="mt-4 uppercase text-sm text-black font-bold">
				Additional info
			</h6>
			<ul class="text-xs list-disc ml-4 leading-6 text-black">
				<li>
					<Link href="https://www.hypothermia-registry.org"
						>https://www.hypothermia-registry.org
					</Link>
				</li>
			</ul>
		</Card>
	</main>
</Layout>

<style>
	.ekg {
		stroke: #d1282a;
		stroke-dasharray: 6000;
		stroke-dashoffset: 6000;
	}
</style>
