---
export interface Props {
    href: string;
    external?: boolean;
}

const { href, external } = Astro.props as Props;
---

<a
    href={href}
    {external ? ('target=\"_blank\" rel=\"noreferrer\"') : ''}
    class="underline underline-offset-4 hover:decoration-4"
    ><slot />
</a>
