---
import "../assets/globals.css";

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta
			name="description"
			content="The aim of the <b>mountain registries</b> is to collect and report information in a standard way and form. The collected data will enable an international comparison between the different strategies applied during the rescue patients in mountain terrains."
		/>
		<title>{title}</title>
		<script defer data-domain="mountain-registries.org" src="https://plausible.io/js/script.file-downloads.js"></script>
	</head>
	<body>
		<slot />
		<script is:inline>
			let links = document.querySelectorAll("a[data-analytics]");
			for (var i = 0; i < links.length; i++) {
				links[i].addEventListener('click', handleLinkEvent);
				links[i].addEventListener('auxclick', handleLinkEvent);
			}
		  
			function handleLinkEvent(event) {
				var link = event.target;
				var middle = event.type == "auxclick" && event.which == 2;
				var click = event.type == "click";
				while (link && (typeof link.tagName == 'undefined' || link.tagName.toLowerCase() != 'a' || !link.href)) {
					link = link.parentNode;
				}
				if (middle || click) {
					let attributeValue = link.getAttribute('data-analytics');
					plausible(attributeValue);
				}
				if (!link.target) {
					if (!(event.ctrlKey || event.metaKey || event.shiftKey) && click) {
						setTimeout(function () {
							location.href = link.href;
						}, 150);
						event.preventDefault();
					}
				}
			}
		  </script>
	</body>
</html>

